/bin/
/dist/
/tmp/
*.wasm
!stream/srep/srepdec.wasm
!stream/magic2/magic2dec.wasm
!stream/mpzz/mpzzdec.wasm
!stream/rzw/rzwdec.wasm
!stream/mpz/mpzdec.wasm
!stream/pref/prefdec.wasm
/stream/pref/build/
!reconstruct/fsb/fsb.wasm
!reconstruct/x5/hpatch.wasm
!reconstruct/fgpack/fgpack.wasm
!reconstruct/xdelta/xdelta.wasm
