[submodule "third_party/srep"]
	path = third_party/srep
	url = https://github.com/Intensity/srep.git
[submodule "third_party/freearc"]
	path = third_party/freearc
	url = https://github.com/mrkaban/FreeArc-0.67.git
[submodule "third_party/precomp"]
	path = third_party/precomp
	url = https://github.com/schnaader/precomp-cpp.git
